<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TUM Speech Recording</title>
  <link href="static/styles/app.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wrapper">

    <header>
      <h1><img class="moveimage" src="/static/assets/tum.svg" alt="TUM" width="20%"> Speech Recording</h1>
    </header>

    <section class="top-display">
      <div class="welcome-display">
        Welcome to the TinyML TUM Speech Recording App.
        <br />
        Please use this app in a <strong>Chrome Incognito Window</strong>. This will help to prevent odd caching behaviour.
        <br />
        Make sure you have a functioning <strong>microphone</strong> connected.
        <br />
      </div>
      <section class="main-controls">
        <div id="buttons">
          <a href="/start" class="continue-link">
            <button class="continue">Let's get started.</button>
          </a>
        </div>
      </section>

  </div>

</body>

</html>
